/* You can add global styles to this file, and also import other style files */
.container{
    word-break:break-all;
}
.bg-light-gray{
    background-color:#D0CECF;
}
.card-padding{
    padding:5px;
    transition: transform .2s;
}
.card-padding:hover {
    transform: scale(1.1);
    z-index: 10;
}